plateforme-api/env/
plateforme-api/__pycache__/
plateforme-api/*/__pycache__/
plateforme-api/*/migrations/__pycache__/
plateforme-web/node_modules/
plateforme-web/dist/
plateforme-web/.cache/
*.pyc
*.pyo
*.sqlite3
.env
.env.*
