GestionBackend/env/
GestionBackend/__pycache__/
GestionBackend/*/__pycache__/
GestionBackend/*/migrations/__pycache__/
TravailPratique01/gestion-reparation-automobile/node_modules/
TravailPratique01/gestion-reparation-automobile/dist/
TravailPratique01/gestion-reparation-automobile/.cache/
*.pyc
*.pyo
*.sqlite3
.env
.env.*
