.menu-link {
  color: #f8f9fa !important; /* Forcer le blanc sur le texte */
  transition: color 0.3s ease; /* Animation de transition pour le changement de couleur */
}

.menu-link:hover {
  color: #00bfff !important; /* Couleur de survol claire (bleu clair par exemple) */
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); /* Bordure blanche semi-transparente pour l'icône du menu mobile */
}

.navbar-dark .navbar-toggler:hover {
  border-color: #f8f9fa; /* Bordure blanche complète lors du survol */
}

button.navbar-toggler:focus {
  outline: none; /* Supprimer les contours du bouton de menu mobile lors du focus */
}

button.navbar-toggler {
  color: #f8f9fa;
}

button.navbar-toggler:hover {
  color: #00ff4c;
}

/* Style par défaut pour les liens du menu */
.custom-nav-link {
  color: #495057 !important; /* Couleur par défaut */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transition douce */
}

/* Style au survol */
.custom-nav-link:hover {
  color: #00bfff !important; /* Bleu clair au survol */
  background-color: #f0f8ff !important; /* Fond bleu clair pour accentuer le survol */
}

/* Style pour le lien actif */
.custom-nav-link.active {
  color: #00bfff !important; /* Bleu clair lorsque l'élément est actif */
  background-color: #e0f7ff !important; /* Fond bleu clair pour l'élément actif */
}
